.rating-controls {
    margin-top: 10px;
    padding: 15px;
    background: #f8f9fa;
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-between;
}

.time-controls-start, .time-controls-end, .rating-inputs-score, .rating-inputs-limb {
    align-items: center;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.rating-controls label {
    font-weight: bold;
}

.rating-controls input[type="text"] {
    width: 50px;
    padding: 6px;
    border: var(--border);
    border-radius: 3px;
    text-align: center;
}

.rating-controls input[type="number"] {
    width: 35px;
    padding: 6px;
    border: var(--border);
    border-radius: 3px;
    text-align: center;
    -moz-appearance: textfield;
}

.rating-controls input[type="number"]::-webkit-outer-spin-button,
.rating-controls input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.rating-inputs-verification {
    align-items: center;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.rating-inputs-verification input[type="checkbox"] {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.add-rating-button {
    padding: 8px 16px;
    background: var(--primary);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    align-self: center;
}

.add-rating-button:hover {
    background-color: #3651c7;
}
