.ratings-table {
    width: 100%;
    border-collapse: collapse;
}

.ratings-table th, .ratings-table td {
    padding: 8px 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.ratings-table th {
    background-color: #f2f2f2;
    position: sticky;
    top: 0;
    cursor: pointer;
}

.ratings-table th:hover {
    background-color: #e6e6e6;
}

.ratings-table th.time-header:hover,
.ratings-table th.time-header.group-hover {
    background-color: #e6e6e6;
}

.sort-arrow {
    margin-left: 5px;
    visibility: hidden;
}

.ratings-table th:nth-child(1) .sort-arrow {
    opacity: 0;
}

.ratings-table tr:hover {
    background-color: #f5f5f5;
}

.ratings-table .needs-verification {
    color: #dc3545;
    font-weight: bold;
}

button {
    margin-right: 2px;
}

.edit-rating-btn {
    padding: 4px 8px;
    background: #4361ee;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.edit-rating-btn:hover {
    background: #3651c7;
}

.delete-rating-btn {
    padding: 4px 8px;
    background: #dc3545;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.delete-rating-btn:hover {
    background: #c82333;
}

#ratings-table-body tr.editing td {
    padding-top: 5px;
    padding-bottom: 6px;
}

#ratings-table-body tr.editing td:nth-child(1),
#ratings-table-body tr.editing td:nth-child(2){
    padding-left: 3px;
}

#ratings-table-body tr.editing td:nth-child(3),
#ratings-table-body tr.editing td:nth-child(4){
    padding-left: 0;
}

#ratings-table-body input[type="text"] {
    height: 16px;
    width: 35px;
    padding: 6px;
    border: var(--border);
    border-radius: 3px;
    text-align: center;
    -moz-appearance: textfield;
}

#ratings-table-body input[type="number"] {
    height: 16px;
    width: 20px;
    padding: 6px;
    border: var(--border);
    border-radius: 3px;
    text-align: center;
    -moz-appearance: textfield;
}

#ratings-table-body input[type="number"]::-webkit-outer-spin-button,
#ratings-table-body input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#ratings-table-body input[type="checkbox"] {
    width: 16px;
    height: 16px;
    cursor: pointer;
}
